*
!.gitignore
!README.md
!envs
!envs/requirements.yaml
!utils
!utils/legends.py
!utils/data_preprocessing.py
!utils/proximity_calc.py
!utils/fetch_OSM.py
!utils/local_OSM_shp_files.py
!utils/raster_analysis.py
!utils/README.md
!Raw_Spatial_Data
!Raw_Spatial_Data/landcover
!Raw_Spatial_Data/landcover/.gitkeep
!Raw_Spatial_Data/DEM
!Raw_Spatial_Data/DEM/.gitkeep
!Raw_Spatial_Data/protected_areas
!Raw_Spatial_Data/protected_areas/.gitkeep
!Raw_Spatial_Data/OSM
!Raw_Spatial_Data/OSM/.gitkeep
!Raw_Spatial_Data/GOAS
!Raw_Spatial_Data/GOAS/.gitkeep
!Raw_Spatial_Data/custom_study_area
!Raw_Spatial_Data/custom_study_area/.gitkeep
!Raw_Spatial_Data/additional_exclusion_polygons
!Raw_Spatial_Data/additional_exclusion_polygons/.gitkeep
!Raw_Spatial_Data/global_solar_wind_atlas
!Raw_Spatial_Data/global_solar_wind_atlas/.gitkeep
!weather_data
!weather_data/wind_speed_regions.ipynb
!configs
!configs/config_template.yaml
!configs/config_template_china.yaml
!configs/onshorewind_template_china.yaml
!configs/solar_template_china.yaml
!configs/onshorewind_template.yaml
!configs/solar_template.yaml
!configs/technologies
!configs/technologies/HW_distributed_farm.yaml
!configs/technologies/LW_distributed_farm.yaml
!configs/technologies/HW_utility_farm.yaml
!configs/technologies/LW_utility_farm.yaml
!configs/technologies/CSi.yaml
!spatial_data_prep.py
!Exclusion.py
!data_explore.ipynb
!utils/simplify.py
!utils/gadm_levels_to_geojson.py
!utils/delete_available_land.py
!utils/simple_results_analysis.py
!snakemake
!snakemake/Snakefile
!snakemake/snakefile_short
!snakemake/snakefile_short_short
!suitability.py
!weather_data_prep.py
!create_cutout.py
!bias_correction_factors
!bias_correction_factors/ERA5_wnd100m_bias.nc
!docs
!docs/usage.rst

