*
!.gitignore
!README.md
# --- Setup ---
!envs
!envs/requirements.yaml
# --- Main scripts ---
!spatial_data_prep.py
!Exclusion.py
!data_explore.ipynb
!suitability.py
!weather_data_prep.py
!weather_bias_adjust.py
!create_cutout.py
!bias_correction_factors
!bias_correction_factors/ERA5_wnd100m_bias.nc
# --- Supporting scripts ---
!utils
!utils/legends.py
!utils/data_preprocessing.py
!utils/proximity_calc.py
!utils/fetch_OSM.py
!utils/local_OSM_shp_files.py
!utils/raster_analysis.py
!utils/README.md
!utils/simplify.py
!utils/gadm_levels_to_geojson.py
!utils/delete_scenario_results.py
!utils/results_analysis.py
# --- Raw input data ---
!Raw_Spatial_Data
!Raw_Spatial_Data/landcover
!Raw_Spatial_Data/landcover/.gitkeep
!Raw_Spatial_Data/DEM
!Raw_Spatial_Data/DEM/.gitkeep
!Raw_Spatial_Data/protected_areas
!Raw_Spatial_Data/protected_areas/.gitkeep
!Raw_Spatial_Data/OSM
!Raw_Spatial_Data/OSM/.gitkeep
!Raw_Spatial_Data/GOAS
!Raw_Spatial_Data/GOAS/.gitkeep
!Raw_Spatial_Data/custom_study_area
!Raw_Spatial_Data/custom_study_area/.gitkeep
!Raw_Spatial_Data/additional_exclusion_polygons
!Raw_Spatial_Data/additional_exclusion_polygons/.gitkeep
!Raw_Spatial_Data/global_solar_wind_atlas
!Raw_Spatial_Data/global_solar_wind_atlas/.gitkeep
!weather_data
!weather_data/wind_speed_regions.ipynb
# --- Config files ---
!configs
!configs/config_template.yaml
!configs/config_advanced_settings_template.yaml
!configs/config_template_china.yaml
!configs/config_snakemake.yaml
!configs/config_snakemake_template_china.yaml
!configs/onshorewind_template_china.yaml
!configs/solar_template_china.yaml
!configs/onshorewind_template.yaml
!configs/solar_template.yaml
!configs/suitability_template_china.yaml
!configs/technologies
!configs/technologies/HW_distributed_farm.yaml
!configs/technologies/LW_distributed_farm.yaml
!configs/technologies/HW_utility_farm.yaml
!configs/technologies/LW_utility_farm.yaml
!configs/technologies/CSi.yaml
# --- Snakemake ---
!snakemake
!snakemake/Snakefile
!snakemake/Snakefile_simplified
!snakemake/rules
!snakemake/rules/spatial_data_prep.smk
!snakemake/rules/exclusion.smk
!snakemake/rules/suitability.smk
!snakemake/rules/energy_profiles.smk
!snakemake/rules/weather_data_prep.smk
!snakemake/rules/weather_bias_adjust.smk
# --- Sphinx docs ---
!docs
!docs/.gitkeep
!docs/conf.py
!docs/index.rst
!docs/getting_started.rst
!docs/requirements-docs.txt
!docs/troubleshooting.rst
!docs/usage.rst
!docs/faq.rst
!.readthedocs.yaml
# --- User interface ---
!tkinter_app
!tkinter_app/data_loader.py
!tkinter_app/flag_mapper.py
!tkinter_app/main.py
!tkinter_app/_init__.py
